<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Protocol Scheme</title>
</head>
<body>
  <h2>Choose Protocol Scheme</h2>
  <form action="upload_problem" method="POST">
    <p>
        <input type="radio" id="InputOutput" name="protocolScheme" value="InputOutput">
        <label for="InputOutput">InputOutput</label>
    </p><p>
        <input type="radio" id="InputCustomChecker" name="protocolScheme" value="InputCustomChecker">
        <label for="InputCustomChecker">InputCustomChecker</label>
    </p><p>
        <input type="radio" id="RandomInputCustomChecker" name="protocolScheme" value="RandomInputCustomChecker">
        <label for="RandomInputCustomChecker">RandomInputCustomChecker</label>
    </p><p>
        <input type="radio" id="LimitedWorkSpace" name="protocolScheme" value="LimitedWorkSpace">
        <label for="LimitedWorkSpace">LimitedWorkSpace</label>
    </p><p>
      <p><input type="submit" value="Choose Protocol Scheme" name="mode"/></p>
    </form>
</body>
</html>