<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload protocol</title>
</head>
<body>
    <h2>Specify Protocol Metadata</h2>

        <input type="number" name="supported_lang_cnt">
    </label>
    <label for="lang"></label><select name="lang" id="lang">
        <option value="" disabled selected>PROGRAMMING LANG</option>
        <option value="LanguageLabel.PYTHON3">Python3.10</option>
        <option value="LanguageLabel.CXX11">C++11</option>
        <option value="LanguageLabel.CXX14">C++14</option>
        <option value="LanguageLabel.CXX17">C++17</option>
        <option value="LanguageLabel.CXX20">C++20</option>
        <option value="LanguageLabel.HASKELL2010">Haskell GHC</option>
        <option value="LanguageLabel.JAVA">Java</option>
        <option value="LanguageLabel.SCALA">Scala</option>
    </select>

</body>
</html>