<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test or be Tested? Test AND be Tested!</title>
</head>
<body>
    <h1>Test or be Tested? Test AND be Tested!</h1>
    <p>The current server runs a testing system</p>
    <p>Here are some things you can occupy yourself with while working with our server:
    <blockquote>
        <p>0. <a href="display_readme">User's guide (README)</a></p>
        <p>1. <a href="display_problems">Check out uploaded problems and choose the one to solve!</a></p>
        <blockquote>
                <form action="display_problems">
                    a. GOTO specific problem:
                    <input placeholder="PROBLEM ID" name="problem_id"/>
                    <input type="submit" value="GO"/>
                </form>
        </blockquote>
        <p>2. <a href="submit">Submit a solution!</a></p>
        <p>3. <a href="upload_problem">Or even upload a problem of your own if you've got something interesting for us and other guests!</a></p>
    </blockquote>
</body>
    <h2>
        Enjoy!
    </h2>
</html>
