<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test or be Tested? Test AND be Tested!</title>
</head>
<body>
    <h1>Test or be Tested? Test AND be Tested!</h1>
    <p>The current server runs a testing system</p>
    <p>Here are some things you can occupy yourself with while working with our server:
    <blockquote>
        <p><a href="display_readme">0. User's guide (README)</a></p>
        <p><a href="display_problems">1. Check out uploaded problems and choose the one to solve!</a></p>
        <p><a href="submit">2. Submit a solution!</a></p>
        <p><a href="upload_problem">3. Or even upload a problem of your own if you've got something interesting for us and other guests!</a></p>
    </blockquote>
</body>
    <h2>
        Enjoy!
    </h2>
</html>
