<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
</head>
<body>
<h1>Submit!</h1>
<form action="submit" method="POST" enctype="multipart/form-data">
    <p>
        <label>
            <input placeholder="PROBLEM ID" name="problem_id"/>
        </label>
        <label for="lang"></label><select name="lang" id="lang">
            <option value="" disabled selected>PROGRAMMING LANG</option>
            <option value="python3">Python3.10</option>
            <option value="cxx11">C++11</option>
            <option value="cxx14">C++14</option>
            <option value="cxx17">C++17</option>
            <option value="cxx20">C++20</option>
            <option value="haskell">Haskell GHC9.0.2</option>
            <option value="java">Java</option>
            <option value="scala">Scala</option>
        </select>
        <input type="file" name="submission"/>
    </p>
    <input type="submit" name="mode"/>
</form>
{{back_link_html_string|safe}}
</body>
</html>